files/bb/*
files/img/*
files/txt_files/*

src/object_detection/test/images/*
src/object_detection/test/labels/*
src/object_detection/test/labels.cache


src/object_detection/train/images/*
src/object_detection/train/labels/*
src/object_detection/train/labels.cache

src/object_detection/valid/images/*
src/object_detection/valid/labels/*
src/object_detection/valid/labels.cache

src/object_detection/runs/detect/*
src/object_detection/wandb/*

src/object_detection/*.pt
