files/bb/*
files/img/*
files/txt_files/*

object_detection/test/images/*
object_detection/test/labels/*
object_detection/test/labels.cache
object_detection/train/images/*
object_detection/train/labels/*
object_detection/train/labels.cache
object_detection/valid/images/*
object_detection/valid/labels/*
object_detection/valid/labels.cache
runs/detect/*
object_detection/wandb/*
*.pt
wandb/*
